* {
  border: none;
  font-family: 'Fira Code Nerd Font', 'Symbols Nerd Font Mono';
  font-size: 16px;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  min-height: 38px;
}

window#waybar {
  background: transparent;
}

#workspaces {
  border-radius: 0px;
  background-color: #2e3440;
  color: #D8DEE9;
  margin-top: 14px;
  margin-right: 14px;
  padding-top: 1px;
  padding-left: 11px;
  padding-right: 11px;
  border: 2px solid #d8dee9;
}

#custom-fedora {
  font-size: 20px;
  border-radius:0px;
  background-color: #2e3440;
  color:#D8DEE9;
  margin-top: 14px;
  padding-top: 1px;
  padding-left: 14px;
  padding-right: 20px;
  margin-left: 15px;
  margin-right: 16px;
  border: 2px solid #d8dee9;
;
}

#workspaces button {
  background: #2e3440;
  color: #D8DEE9;
}

#clock, #backlight, #pulseaudio, #bluetooth, #network, #battery, #tray, #custom-weather, #mpd{
  border-radius: 0px;
  background-color: #2e3440;
  color: #D8DEE9;
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 15px;
  border: 2px solid #d8dee9;
}

#backlight, #bluetooth {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-right: 7px;
  margin-right: 10px;
  border: 2px solid #d8dee9;
}
#network { 
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
padding-left: 15px;
border: 2px solid #d8dee9;
}

#pulseaudio, #mpd {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-left: 10px;
  border: 2px solid #d8dee9;
}

#clock {
  margin-right: 0;
  border: 2px solid #d8dee9;
}
#tray {
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
padding-left: 12px; 
border: 2px solid #d8dee9;
}
#custom-weather {
border-radius: 0px;
border: 2px solid #d8dee9;
}
